{%extends 'Blog/base.html'%}
{%block content%}
<form action="edit/" method="post">
    {% csrf_token %}
  <div class="form-group">
      <label for="TytulForm">Zmień Tytul</label>
      <input type="text" class="form-control" id="TytulForm" name="TytulForm" placeholder="Wprowadź nowy Tytul" value={{post.Tytul}}>
  </div>
  {% csrf_token %}
<div class="form-group">
    <label for="ContentForm">Zmień Tresc</label>
    <textarea class="form-control" id="OpisForm" name="ContentForm" style="min-height:300px; " placeholder="Wprowadź nowa Tresc">{{post.Tresc}}</textarea>

{%if post.Haslo%}
<h4>Zmiana hasla</h4>
  {% csrf_token %}
<div class="form-group">
    <input type="text" class="form-control" id="OldPasswordForm" name="OldPasswordForm" placeholder="Wprowadź stare haslo">
    <input type="text" class="form-control" id="PasswordForm" name="PasswordForm" placeholder="Wprowadź nowe haslo">
     <!-- Button trigger modal -->
     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#UsunHaslo">
        Usuń Haslo
      </button>
      <br><br>
      
     
{%else%}
<h4>Dodaj Haslo</h4>
  {% csrf_token %}
<div class="form-group">
    <input type="text" class="form-control" id="NewPasswordForm" name="NewPasswordForm" placeholder="Wprowadź nowe haslo">
{%endif%}
<h3>Zmień Zdjecie</h3>
<div class=" text-center">
<img src="/Obrazki/{{post.Obraz}}" height="500px">
</div>
  {% csrf_token %}
<input type="file" name="Obraz" accept="image/png, image/jpeg" /><br/>
<input type="submit" style="float:right" class="btn btn-info" id="NewImageBtn" value="Zatwierdź zmiany">
</form>
 <!-- Modal -->
 {%csrf_token%}
 <div class="modal" id="UsunHaslo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Usuń Haslo</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <form action="deletePassword/" method="POST">
         {%csrf_token%}
       <div class="modal-body">
        
           <div class="bg-danger text-white">Czy na pewno chcesz usunąć haslo?</div>
           <input type="text" class="form-control" id="PasswordForm" name="PasswordForm" placeholder="Wprowadź stare haslo">
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
         <input type="submit" class="btn btn-primary">
       </div>
       </form>
     </div>
   </div>
 </div>
{%endblock%}