{%extends "Blog/base.html"%}
{%block content%}
{%if not posts%}
<h4>Brak postów do wyświetlenia</h4>
{%endif%}
{%for post in posts %}
<div class="media">
  <img class="d-flex mr-3" data-src="{{post.Obraz}}" alt=""></img>
  <div class="media-body">
    {%if post.Haslo%}
    {{post.Haslo}}|{{post.IDPost}}
    <a class="nav-item" data-toggle="modal" data-target="#exampleModalCentered{{post.IDPost}}">
      <h5 class="mt-0">{{post.Tytul}}</h5>
    </a>
        <div class="modal" id="exampleModalCentered{{post.IDPost}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal CenteredLabel{{post.IDPost}}" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel{{post.IDPost}}">Post strzeżony hasłem</h5>
                <input type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
              <div class="modal-body">
                <div class="form-group">
                    <form action="/post/{{post.IDPost}}/" method="post">
                      {% csrf_token %}
                  <input type="text" class="form-control" id="PasswordCheck" name="PasswordCheck" placeholder="Wprowadź hasło" >
                </div> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <input type="submit" class="btn btn-primary" id="PasswordCheckS" name="PasswordCheckS"  > 
              </div>
            </form>
            </div>
          </div>
        </div>
     
      {%else%}
      <a class="nav-item" href="post/{{post.IDPost}}"><h5 class="mt-0">{{post.Tytul}}</h5></a>
      {%endif%}
      <h6 class='mt-0'><strong>{{post.IDBlog.Nazwa}}</strong> | {{post.Data}}</h6>
      <br>
  </div>
</div>
{%endfor%}

{%endblock content%}



