{%extends "Blog/base.html"%}
{%block content%}

<div class="media">
  <div class="media-body container">
    <div class="text-center">
      <h1 class="mt-0">{{post.Tytul}}</h1>
      <img src="/Obrazki/{{post.Obraz}}" height="300px">
    </div>
    <a class="" href="/blog/{{post.IDBlog.IDBlog}}"><h6 class='mt-0'><strong>{{post.IDBlog.Nazwa}}</strong> </a> | {{post.Data}}</h6>
    <p style="float:left; white-space: pre-wrap">{{post.Tresc}}</p>
  </div>
</div>
<br>
<div class="container" style="background-color:rgb(236, 234, 234)" >
  <h6>Komentarze:</h6>
  {%if komentarze%}
  {%for komentarz in komentarze%}
  <div>
    <div class="row">
      <div class="col-auto">
        <p><strong>{{komentarz.IDUzytkownik.username}} | {{komentarz.Data}}</strong></p> 
      </div>
      {% if user.is_authenticated and post.IDBlog.IDAutor == user %}
      <div class=" col-1">        
          <button class="btn btn-light" type="button" data-toggle="modal" data-target="#usuwanie{{komentarz.IDKomentarz}}">Usuń</button>
          <form action="{% url 'post' post_id=post.IDPost %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="IdKomenta" value="{{komentarz.IDKomentarz}}">
          <div class="modal" id="usuwanie{{komentarz.IDKomentarz}}" tabindex="-1" role="dialog" aria-labelledby="usuwanie{{komentarz.IDKomentarz}}" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenteredLabel">Czy chcesz usunąć ten komentarz?</h5>
                    <input type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-footer ">
                      
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                    <button type="submit" class="btn btn-dark">Tak</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
      </div>
      {%endif%}
    </div>
      <p>{{komentarz.Tresc}} </p>
    <hr>
  </div>
  {%endfor%}
  {%endif%}
  {%if user.is_authenticated%}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentered">
      Dodaj Komentarz
    </button>
</div>
<!-- to jest usuwanie komentarza-->


  <!-- Wywołanie formularza do nowego komentarza -->
  <form action="newComent/" method="post">
    {% csrf_token %}
  <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenteredLabel">Dodaj Komentarz</h5>
          <input type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="NewBlogForm">Podaj Tresc Komentarza</label>
            <textarea type="text" class="form-control" id="NewComent" name="NewComent" placeholder="wprowadź treść" ></textarea>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <input type="submit" class="btn btn-primary" id="NewBlogCreation" >
        </div>
      </div>
    </div>
  </div>
  </form>
  {%endif%}
{%endblock content%}