{%extends 'Blog/base.html'%}
{%block content%}
<form>
    <h2>Witaj {{account.User.username}}</h2>
    <br>
    <h6>Opis: {{account.Opis}}</h6>
    <br><br>
    <div class="form-group">
            {%if account.Zdjecie%}
            <img src="{{account.Zdjecie}}">
            {%else%}
            <h5>Brak zdjęcia</h5>
            {%endif%}
          <label for="formGroupExampleInput">Zmień zdjęcie</label>
         
<div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile04">
      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
  </div>
        <div class="form-group">
          <label for="OpisForm">Zmień Opis</label>
          <input type="text" class="form-control" id="OpisForm" placeholder="Wprowadź nowy opis" >
        </div>
        <button type="button" style="float:right" class="btn btn-info" id="OpisFormBtn">Zmień Opis</button>
        <div style="clear:both"></div>
      </form>
      <br><br>
<!-- Lista blogów użytkownika--> 
<nav class="nav pills-flex-column">
    <ul class="navbar-nav mr-auto"></ul>
        {%for blog in blogs%}
        <li class="nav-item"><a class="nav-link" href="#!">{{blog.Tytul}}</a></li>
        {%endfor%}
      </nav>
      <br>


<!-- Przycisk dodajacy bloga -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentered">
  Dodaj Blog
</button>
<!-- Przycisk dodajacy Post -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#DodajPostModal">
  Dodaj Post
</button>
<!-- Wywołanie formularza do nowego bloga -->
<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredLabel">Dodaj Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="NewBlogForm">Podaj Nazwę Bloga</label>
          <input type="text" class="form-control" id="NewBlogForm" placeholder="Wprowadź tytuł" >
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Wywołanie formularza do nowego posta -->
<div class="modal" id="DodajPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredLabel">Dodaj Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="NewPostForm">Podaj Tytuł Posta</label>
          <input type="text" class="form-control" id="NewPostForm" placeholder="Wprowadź tytuł" >
          <label for="NewPostTrescForm">Podaj Treść Posta</label>
          <input type="text" class="form-control" id="NewPostTrescForm" placeholder="Wprowadź treść" >
          <label for="NewPostForm">Podaj Hasło Posta</label>
          <input type="text" class="form-control" id="NewPostForm" placeholder="Wprowadź hasło(opcjonalne)" >
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}