{%extends 'Blog/base.html'%}
{%block content%}
<form action="/accounts/register/" method="post">
{% csrf_token %}
    <h2>Witaj {{account.User.username}}</h2>
    <br>
    <h6>Opis: {{account.Opis}}</h6>
    <br><br>
    <div class="form-group">
            {%if account.Zdjecie%}
            <img src="{{account.Zdjecie}}">
            {%else%}
            <h5>Brak zdjęcia</h5>
            {%endif%}

{%block tmp%}
<label for="formGroupExampleInput">Zmień zdjęcie</label>
<div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile04">
      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
  </div>
        <div class="form-group">
          <label for="OpisForm">Zmień Opis</label>
          <input type="text" class="form-control" id="OpisForm" placeholder="Wprowadź nowy opis" >
        </div>
        <button type="button" style="float:right" class="btn btn-info" id="OpisFormBtn">Zmień Opis</button>
        <div style="clear:both"></div>
      </form>
<!-- Lista blogów użytkownika--> 

{%if blogs%}
<nav class="nav flex-column">
    <ul class="navbar-nav mr-auto"></ul>
        {%for blog in blogs%}

        <li class="nav-item"><a class="nav-link" href="{{blog.IDBlog}}/details">{{blog.Nazwa}}</a></li>

        {%endfor%}
      </nav>
      <br>
      {%else%}
      <h4>Nie masz żadnych blogów</h4>
      {%endif%}

<!-- Przycisk dodajacy bloga -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentered">
  Dodaj Blog
</button>

<!-- Wywołanie formularza do nowego bloga -->
<form action="/accounts/register/" method="post">
  {% csrf_token %}
<div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenteredLabel">Dodaj Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="NewBlogForm">Podaj Nazwę Bloga</label>
          <input type="text" class="form-control" id="NewBlogForm" placeholder="Wprowadź tytuł" >
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
        <input type="submit" class="btn btn-primary" >
      </div>
    </div>
  </div>
</div>

{%endblock%}
{%endblock%}