{%extends 'Blog/base.html'%}
{%block content%}
<div class="row">
  <div class="col-7"><!-- czesc z lista blogow-->
    {%if blogs%}
    <nav class="nav flex-column">
            <ul class="list-group" >
            {%for blog in blogs%}
            <a class="nav-link" href="{{blog.IDBlog}}/details">
              <div class="">
                <li class="list-group-item hovered">{{blog.Nazwa}}</li>
              </div>
            </a>
            {%endfor%}
            </ul>
          </nav>
          <br>
          {%else%}
          <h4>Nie masz żadnych blogów</h4>
          {%endif%}

    <!-- Przycisk dodajacy bloga -->
    <div class="col-7">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCentered">
        Dodaj Blog
      </button>
    </div>
  </div>

  <div class="col-5"><!-- czesc z obrazkiem i opisem-->
      <div class="text-center">
         <h2>Witaj {{account.User.username}}</h2>
      </div>
      <br>
          <div class="form-group">
            <div class="text-center" ><!-- div na obrazek-->
              <img src="/Obrazki/{{account.Zdjecie}}"  height="400">
            </div>  
            <div>
              <h6>Opis: {{account.Opis}}</h6>
            </div>
            <br>
            <div class="row">
                <form action="{% url 'newImage' %}" method="POST" enctype="multipart/form-data">
                  <div class="row">
                      {% csrf_token %}
                        <input type="file" name="Zdjecie" accept="image/png, image/jpeg">
                        <button class="btn btn-outline-secondary" type="submit">Zmień Obraz</button>
                  </div>
                </form><!-- zmiana obrazka!!!!-->  
              <div class="col"><!--kolumna dla przyciksu "usun zdjecie"-->
                <form action="{% url 'default_pic' %}" method="GET">
                  <button type="submit" class="btn btn-outline-secondary"> Usuń Zdjęcie</button>
                </form>  
              </div>
            </div>    
          </div>
              <form action="/editOpis/" method="post">
              <div class="row">    
                  {% csrf_token %}
                    <label for="OpisForm">Zmień Opis</label>
                  <div class="col">    
                      <input type="text" class="form-control" id="OpisForm" name="OpisForm" placeholder="Wprowadź nowy opis">
                  </div>
                  <div class="col-2">
                    <input type="submit" style="float:right" class="btn btn-info" id="OpisFormBtn">
                  </div> 
              </div>     
              </form>
               
              <div style="clear:both"></div>
  <!-- Lista blogów użytkownika--> 
  </div>

  <!-- Wywołanie formularza do nowego bloga -->
  <form action="/newBlog/" method="post">
    {% csrf_token %}
  <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenteredLabel">Dodaj Blog</h5>
          <input type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="NewBlogForm">Podaj Nazwę Bloga</label>
            <input type="text" class="form-control" id="NewBlogName" name="NewBlogName" placeholder="Wprowadź tytuł" >
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
          <input type="submit" class="btn btn-primary" id="NewBlogCreation" >
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
{%endblock%}