{%extends "Blog/base.html"%}
{%block content%}
<div class="row">
    <div class="col-4 offset-4">

        <div class="text-center">
            <h3>Rejestracja</h3>
        </div>
        <form method="POST" action="/registration/">
        {% csrf_token %}
        <!-- username-->
        
         {% for field in form.visible_fields %}
            <div class="mb-2">
               {% if field.name == 'password1' or field.name == 'password2' %}
               <input type="password" name="{{field.name}}" placeholder="{% if field.name == 'password1'%} Wpisz hasło {%else%} Powtórz hasło {%endif%}" class="form-control">
               <!-- {{field}} -->
               {%else%}
               <input type="text" name="{{field.name}}" placeholder="{% if field.name == 'username'%} Nazwa użytkownika {%else%} E-mail {%endif%}" class="form-control">
               <!-- {{field}} -->
               {%endif%}
                    {%if field.errors%}
                        {%for error in field.errors %}
                        <div class="error-text">
                        -{{error}}
                        </div>
                        {%endfor%}
                       
                    {%endif%}
                
                <!-- {{field.name}} -->

            </div>
        {%endfor%}
    
        <div>
            <button type="submit" class="btn btn-outline-dark">Zarejestruj</button>
        </div>

        </form>
    </div>
</div>

{%endblock content%}


