{%extends "Blog/base.html"%}
{%block content%}
<div class="row">
    <div class="col-4 offset-4">

        <div class="text-center">
            <h3>Rejestracja</h3>
        </div>
        <form method="POST" action="/registration/" style="margin-left:15px;">
        {% csrf_token %}
        <!-- username-->
        <div class="mb-2">
            <input type="text" name="username" placeholder="Nazwa Użytkownika" class="form-control">
            {%if form.username.errors%}
                {%for error in form.username.errors %}
                <div class="error-text">
                   -{{error}}
                </div>
                {%endfor%}
            {%endif%}
        </div>
        <!-- email-->
        <div class="mb-2">
            <input type="text" name="email" placeholder="E-mail" class="form-control">
            {%if form.email.errors%}
                {%for error in form.email.errors %}
                <div class="error-text">
                    {{error}}
                </div>
                {%endfor%}
            {%endif%}
        </div>
        <!-- haslo-->
        
        {% if form.password1.help_text%}
            {{form.password1.help_text}}
        {%endif%}
        
        <div class="mb-2">
            <input type="password" name="password1" placeholder="Hasło" class="form-control">
            <!--{%if form.password1.errors%}-->
                {%for error in form.password1.errors %}
                    <div class="error-text">
                        -{{error}}
                    </div>
                {%endfor%}
            <!--{%endif%}-->
        </div>
            <!-- <div> to jakies dodatkowe info dla password1 
                    {%if form.password1.help_text%}
                    <div class="error-text">
                            {{form.password1.help_text}}
                    </div>
                    {%endif%}
            </div> -->
        <!-- powtórz hasło-->
        <div class="mb-2">
            <input type="password" name="password2" placeholder="Powtórz hasło" class="form-control">
            <!--{%if form.password2.error %}-->
                {%for error in form.password2.errors%}
                    <div class="error-text">
                            -{{error}}
                    </div>
                {%endfor%}
            <!--{%endif%}-->
        </div>
        <div>
            <button type="submit" class="btn btn-outline-dark">Zarejestruj</button>
        </div>

        </form>
    </div>
</div>

{%endblock content%}


